<footer class="footer">
  <div class="container">
    <p>SalonMatrix is maintained on <a href="https://github.com/salonmatrix/salonmatrix.github.io/" target="_blank">GitHub</a>. Feel free to contribute!</p>
  </div>
</footer>
